.mobile-header {
  align-items: center;
  background-color: rgb(69, 69, 69);
  color: white;
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-content: center;
  padding: 2%;
  text-align: center;
}

.background-image-arrow {
  height: 50px;
  margin-top: 20px;
  transition: all 200ms;
}

.background-image-arrow:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.background-image-arrow:active {
  opacity: 0.6;
  transform: scale(0.8);
}

.mobile-header-text {
  padding: 2%;
  width: 60vw;
}

@media only screen and (min-width: 800px) {
  .mobile-header {
    display: none;
  }

  .mobile-header-arrow {
    display: none;
  }
}
