* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Background Image Section  */

.background-image-container {
  align-items: center;
  background-image: url('../images/lf_background_trees.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  height: 40vh;
  justify-content: space-between;
  text-align: center;
  transition: opacity 250ms;
}

.mobile-header {
  align-items: center;
  background-color: rgb(69, 69, 69);
  color: white;
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-content: center;
  padding: 2%;
  text-align: center;
}

.mobile-header-text {
  padding: 2%;
  width: 60vw;
}

.desktop-header {
  display: none;
}

.background-image-arrow {
  height: 50px;
  margin-top: 20px;
  transition: all 200ms;
}

.background-image-arrow:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.background-image-arrow:active {
  opacity: 0.6;
  transform: scale(0.8);
}

.select-background-image {
  background-color: rgba(69, 69, 69, 0.671);
  display: flex;
  justify-content: center;
  padding: 1%;
  width: 100%;
}

.select-background-image .radio-button + .radio-button {
  margin-left: 20px;
}

.radio-button input[type='radio'] {
  display: none;
}

.radio-button span {
  background-color: white;
  border-radius: 50%;
  border: 5px solid rgb(44, 44, 44);
  cursor: pointer;
  display: block;
  height: 40px;
  transition: all 200ms;
  width: 40px;
}

.radio-button span:hover {
  background-color: rgb(196, 255, 189);
  border-color: rgb(18, 48, 15);
  transform: scale(1.2);
}

.radio-button input:checked + span {
  background-color: rgb(56, 63, 37);
  border: 5px solid white;
  cursor: auto;
  transform: scale(1);
}

@media only screen and (min-width: 800px) {
  .background-image-container {
    flex-flow: column;
    height: 100vh;
  }

  .mobile-header {
    display: none;
  }

  .mobile-header-arrow {
    display: none;
  }

  .desktop-header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(56, 63, 37);
    display: block;
    font-size: 1.2em;
    margin-bottom: 2%;
    padding: 2%;
    width: 90vw;
  }
}

/* Carousel Section */

.carousel-container {
  align-items: center;
  background-color: rgb(69, 69, 69);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: auto;
  padding: 2% 4%;
  text-align: center;
}

.carousel-arrow {
  align-self: flex-start;
  cursor: pointer;
  transition: all 200ms;
}

.carousel-arrow:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.carousel-arrow:active {
  opacity: 0.6;
  transform: scale(0.8);
}

.carousel-container .image-container {
  margin-bottom: -50px;
}

.carousel-mobile-arrows {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: -100px 20px;
  width: 50%;
}

.carousel-desktop-arrow {
  display: none;
}

.carousel-prev-arrow {
  height: 40px;
  transform: rotate(90deg);
}

.carousel-next-arrow {
  height: 40px;
  transform: rotate(-90deg);
}

.carousel-slider-container {
  overflow: hidden;
}

.carousel-slider {
  display: flex;
  width: 100%;
}

.carousel-image {
  border: 10px solid rgb(105, 105, 105);
}

.carousel-container h3.carousel-image-title {
  color: white;
}

.carousel-text {
  color: white;
  margin-bottom: 50px;
  padding: 2% 5%;
}

.carousel-container i {
  color: white;
}

@media only screen and (min-width: 800px) {
  .carousel-container {
    flex-flow: row;
  }

  .carousel-mobile-arrows {
    display: none;
  }

  .carousel-desktop-arrow {
    display: block;
  }
}

/* Circle Image Section */

.circle-image-container {
  align-items: center;
  background-color: rgb(112, 112, 112);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 2% 4%;
}

.circle-image {
  border-radius: 50%;
  border: 20px solid rgb(49, 49, 49);
  height: 80vw;
  margin: 1%;
  width: 80vw;
}

.circle-image-text-title {
  padding: 2%;
}

.circle-image-text {
  margin-bottom: 5px;
  padding: 2%;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .circle-image-container {
    flex-flow: row;
  }

  .circle-image {
    height: 40vw;
    width: 40vw;
  }

  .circle-image-text {
    text-align: left;
  }
}

/* Accordion Section */

.accordion-container {
  background-color: rgb(180, 180, 180);
  padding: 2% 4%;
}

.accordion-border {
  border-radius: 15px;
  overflow: hidden;
}

.accordion-toggle {
  align-items: center;
  background-color: rgb(112, 112, 112);
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 20px 30px;
  text-decoration: none;
  transition: all 500ms;
}

.accordion-arrow {
  color: white;
  padding: -200px;
  transition: all 500ms;
}

.accordion-content {
  align-items: center;
  background-color: rgb(112, 112, 112);
  color: white;
  display: flex;
  flex-flow: column;
  height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition: all 500ms;
}

.accordion-image {
  border: 12px solid rgb(112, 112, 112);
  margin: 0% 1%;
  width: 75vw;
}

.accordion-text {
  margin: 2%;
  padding: 4%;
  text-align: center;
  width: 85vw;
}

.toggle-selected.accordion-toggle {
  background-color: white;
  color: rgb(112, 112, 112);
  margin-bottom: -10px;
}

.toggle-selected .accordion-arrow {
  color: rgb(112, 112, 112);
  transform: rotate(180deg);
}

.toggle-selected + .accordion-content {
  background-color: white;
  color: rgb(112, 112, 112);
  height: 50vh;
  opacity: 1;
  padding: 1%;
}

@media only screen and (min-width: 500px) {
  .accordion-content {
    flex-flow: row;
  }

  .toggle-selected + .accordion-content {
    height: 25vw;
  }

  .accordion-image {
    width: 35vw;
  }
}

/* Form */

.form-container form {
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(112, 112, 112) 50%, rgb(69, 69, 69) 50%);
  font-size: 1.1em;
  justify-content: center;
  padding: 2% 4%;
}

.input-container {
  width: 100%;
}

.input-container label {
  align-items: center;
  background-color: rgb(180, 180, 180);
  border-radius: 7px;
  border: none;
  color: rgb(49, 49, 49);
  cursor: text;
  display: flex;
  font-size: 0.9em;
  font-weight: 900;
  height: 40px;
  margin: 1% 0;
  padding: 4%;
  width: 100%;
}

.message-container label {
  align-items: flex-start;
  height: fit-content;
  padding: 10px 4%;
}

.input-container input {
  background-color: rgba(240, 248, 255, 0);
  border: 0;
  font-size: 1.1em;
  margin-left: 1vw;
  text-decoration: none;
  width: 50%;
}

.input-container input:focus {
  outline: none;
}

.form-container textarea {
  background-color: rgb(180, 180, 180);
  border-radius: 7px;
  border: none;
  font-size: 1em;
  margin-left: 1vw;
  width: 100%;
}

.form-container textarea:focus {
  outline: none;
}

.submit-button-container {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin: 2%;
}

input.submit-button {
  background-color: white;
  border-radius: 10px;
  border: none;
  color: rgb(49, 49, 49);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 800;
  height: 80%;
  width: 40vw;
}

.input-container span {
  color: red;
  font-size: 0.7em;
}

@media only screen and (min-width: 800px) {
  .input-container label {
    padding: 30px 20px;
  }

  .responsive-inputs {
    display: flex;
  }

  .responsive-input + .responsive-input {
    margin-left: 15px;
  }

  input.submit-button {
    width: 18vw;
  }
}

/* Footer */

footer {
  align-items: center;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  font-size: 1.5em;
  font-weight: 900;
  height: 80px;
  justify-content: center;
  padding: 12% 2%;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  footer {
    padding: 2%;
  }
}
