* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* background-image-container */

.background-image-container {
  /* display flex */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  /* background-image */
  background-image: url('../images/lf_background_trees.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* container */
  height: 100vh;
  text-align: center;
}

.background-image-container header {
  /* box-model */
  padding: 2%;
  margin-bottom: 2%;
  /* colors */
  background-color: rgba(0, 0, 0, 0);
  color: rgb(84, 97, 48);
  width: 90vw;
  font-size: 1.2em;
}

a img.background-image-arrow {
  height: 50px;
}

.select-background-image {
  background-color: rgba(69, 69, 69, 0.671);
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
}

.select-background-image .radio-button {
  font-size: 24px;
  font-weight: 500;
  color: blue;
  display: flex;
  /* background-color: red; */
}

.select-background-image .radio-button + .radio-button {
  margin-left: 20px;
}

.radio-button input[type='radio'] {
  display: none;
}

.radio-button span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 5px solid rgb(44, 44, 44);
  background-color: white;
  display: block;
  cursor: pointer;
  transition: all 200ms;
}

.radio-button input:checked + span {
  background-color: rgb(84, 97, 48);
  border: 5px solid white;
}

/* Carousel Section */

.carousel-container {
  background-color: rgb(69, 69, 69);
  padding: 3% 2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}

.carousel-arrow {
  cursor: pointer;
}

.carousel-prev-arrow {
  height: 40px;
  transform: rotate(90deg);
}

.carousel-next-arrow {
  height: 40px;
  transform: rotate(-90deg);
}

.carousel-slider-container {
  overflow: hidden;
}

.carousel-slider {
  width: 100%;
  display: flex;
}

.carousel-image {
  border: 10px solid rgb(105, 105, 105);
}

.carousel-container h3.carousel-image-title {
  color: white;
}

.carousel-text {
  padding: 2% 10%;
  color: white;
  margin-bottom: 50px;
}

.carousel-container i {
  color: white;
}

/* Circle Image Section */

.circle-image-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  background-color: rgb(112, 112, 112);
  color: white;
}

.circle-image-container .circle-image {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 20px solid rgb(49, 49, 49);
  margin: 1%;
}

.circle-image-container .circle-image-text-title {
  padding: 2%;
}

.circle-image-container .circle-image-text {
  padding: 2%;
  margin-bottom: 5px;
}

/* Accordion */

.accordion-container {
  padding: 2%;
  background-color: rgb(180, 180, 180);
}

.accordion-border {
  border-radius: 15px;
  overflow: hidden;
}

.accordion-toggle {
  display: flex;
  margin-bottom: 1px;
  justify-content: space-between;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 500ms;
  background-color: rgb(112, 112, 112);
  color: white;
}

.accordion-arrow {
  color: white;
  transition: all 500ms;
}

.accordion-content {
  display: flex;
  align-items: center;
  height: 0vh;
  overflow: hidden;
  transition: all 500ms;
  background-color: rgb(112, 112, 112);
  color: white;
  opacity: 0;
}

.accordion-image {
  margin: 0% 1%;
  border: 5px solid rgb(112,112,112);
  height: 80%;
}

.accordion-text {
  padding: 2%;
  margin: 2%;
}

.toggle-selected.accordion-toggle {
  background-color: white;
  margin-bottom: -10px;
  color: rgb(112, 112, 112);
}

.toggle-selected .accordion-arrow {
  color: rgb(112,112,112);
  transform: rotate(180deg);
}

.toggle-selected + .accordion-content {
  opacity: 1;
  height: 200px;
  background-color: white;
  color: rgb(112, 112, 112);
  padding: 2%;
}
