.images-carousel-container {
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 100px;
  z-index: 1;
  color: white;
  transition: all 300ms;
}

.carousel-prev-arrow {
  left: 5vw;
}

.carousel-next-arrow {
  right: 5vw;
}

.carousel-arrow:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.2);
}

.carousel-arrow:active {
  opacity: 0.8;
  transform: scale(0.8);
}

.carousel-mobile-arrows {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: -100px 20px;
  width: 50%;
}

@media only screen and (min-width: 800px) {
  .carousel-container {
    flex-flow: row;
  }

  .carousel-mobile-arrows {
    display: none;
  }

  .carousel-desktop-arrow {
    display: block;
  }
}
