.carousel-container {
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.mobile-header-arrow {
  position: absolute;
  top: 15vh;
}

.header-mobile-container {
  height: 15vh;
}

.header-desktop-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(56, 63, 37);
  display: block;
  font-size: 1.2em;
  margin-bottom: 2%;
  padding: 1%;
  position: absolute;
  top: 0px;
  width: 100vw;
}

.select-background-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

