.circle-image-container {
  align-items: center;
  background-color: rgb(112, 112, 112);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 2% 4%;
}

.circle-image {
  border-radius: 50%;
  border: 20px solid rgb(49, 49, 49);
  height: 80vw;
  margin: 1%;
  width: 80vw;
}

.circle-image-text-title {
  padding: 2%;
}

.circle-image-text {
  margin-bottom: 5px;
  padding: 2%;
  text-align: center;
  font-size: 0.9em;
}

@media only screen and (min-width: 800px) {
  .circle-image-container {
    flex-flow: row;
  }

  .circle-image {
    height: 35vw;
    width: 35vw;
  }

  .circle-image-text {
    text-align: left;
  }
}